django==5.2.3
djangorestframework
gunicorn
whitenoise[brotli]
dj-database-url
mysqlclient
django-extensions
joblib
# scikit-learn
scikit-learn==1.7.0
xgboost==2.0.3
pandas
python-dotenv
numpy
scipy
threadpoolctl
cython
# xgboost
psycopg2-binary
django-environ
django-cors-headers
